In [1]:
# To display output of all lines inside a cell

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 1. Looping through a list

## 1.1 Basic idea

In [2]:
# Print all items in a list one by one

nolan_movies = ["The Dark Knight", "Inception", "Interstellar", "The Prestige", "Memento"]

for movie in nolan_movies:
    print(movie)

The Dark Knight
Inception
Interstellar
The Prestige
Memento

## 1.2 Indentation error

In [8]:
# Forgetting to indent
# Code in previous cell without indentaton after "for" statement

# Remove triple quotes to run this cell and see the error message

'''
for movie in nolan_movies:
print(movie)
'''

'\nfor movie in nolan_movies:\nprint(movie)\n'

In [10]:
# Unnecessary indentation

# Remove triple quotes to run this cell and see the error message
'''
first_nolan_movie = "Following"
 print(first_nolan_movie)
'''

'\nfirst_nolan_movie = "Following"\n print(first_nolan_movie)\n'

## 1.3 Syntax error

In [12]:
# Forgettinng colon at the end of the "for" statement

# Remove triple quotes to run this cell and see the error message
'''
for movie in nolan_movies
    print(movie)
'''

'\nfor movie in nolan_movies\n    print(movie)\n'

# 2. Making numerical list

## 2.1 Using range function

In [13]:
# Print numbers from 7 to 11

for number in range(7, 12):
    print(number)

7
8
9
10
11

In [14]:
# Generalize code in the previous cell for any two numbers
# Note that second number in range function is not inclusive

start_number = 7;
end_number = 11;

for number in range(start_number, end_number + 1):
    print(number)

7
8
9
10
11

In [15]:
# Range function takes start_number as 0 if only one argument is provided

# Print numbers from 0 to 7

for number in range(8):
    print(number)

0
1
2
3
4
5
6
7

## 2.2 Using range() to make list of numbers

In [16]:
# Create a list of number from 0 to 7 including both 0 & 7

list_of_numbers = list(range(8))
print(list_of_numbers)

[0, 1, 2, 3, 4, 5, 6, 7]

In [19]:
# Use of incremental steps in range()

start_number = 7
end_number = 19

increment = 2

odd_numbers = list(range(start_number, end_number + 1, increment))
print(odd_numbers)

[7, 9, 11, 13, 15, 17, 19]

In [20]:
# Create a list from scratch : list of squares of first ten numbers

squares = []

for number in range(1, 11):
    squares.append(number**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 2.3 Simple statistics with list

In [23]:
# Sum of squares of first 10 numbers

print(sum(squares))

385

In [24]:
# Minimum number in the list of squares

print(min(squares))

1

In [25]:
# Max number in the list of squares

print(max(squares))

100

## 2.4 List comprehensions

In [26]:
# Alternate way to create the list of squares of first ten numbers

squares = [number ** 2 for number in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 3. Working with part of a list

## 3.1 Slicing a list

In [30]:
# A list of Christopher Nolan movies

nolan_movies = ["The Dark Knight", "Inception", "Interstellar", "The Prestige", "Memento"]

In [31]:
# First two elements in the list of Nolan movies

first_two_movies1 = nolan_movies[0:2]
print(first_two_movies1)

first_two_movies2 = nolan_movies[:2]
print(first_two_movies2)

['The Dark Knight', 'Inception']
['The Dark Knight', 'Inception']

In [33]:
# Print 3rd to last movies

third_to_end1 = nolan_movies[2:5]
print(third_to_end1)

third_to_end2 = nolan_movies[2: len(nolan_movies) + 1]
print(third_to_end2)

third_to_end3 = nolan_movies[2:]
print(third_to_end3)

['Interstellar', 'The Prestige', 'Memento']
['Interstellar', 'The Prestige', 'Memento']
['Interstellar', 'The Prestige', 'Memento']
['Interstellar', 'The Prestige']

In [36]:
# Print last two movies

last_two1 = nolan_movies[-2:]
print(last_two1)

last_two2 = nolan_movies[-2: len(nolan_movies) + 1]
print(last_two2)

['The Prestige', 'Memento']
['The Prestige', 'Memento']

In [41]:
# Print movies in alternate positions

alternate_movies1 = nolan_movies[0: len(nolan_movies) + 1: 2]
print(alternate_movies1)

alternate_movies2 = nolan_movies[: : 2]
print(alternate_movies2)

['The Dark Knight', 'Interstellar', 'Memento']
['The Dark Knight', 'Interstellar', 'Memento']

In [43]:
# Print reverse list

reverse_movies = nolan_movies[-1: -len(nolan_movies) - 1: -1]
print(reverse_movies)

['Memento', 'The Prestige', 'Interstellar', 'Inception', 'The Dark Knight']

## 3.2 Looping through a slice

In [44]:
# Loop through first 3 movies and append them to an empty list

first_three_movies = []

for movie in nolan_movies[:3]:
    first_three_movies.append(movie)
    
print(first_three_movies)

['The Dark Knight', 'Inception', 'Interstellar']

In [48]:
# Repeat the above task using list comprehension

first_three_movies2 = [movie for movie in nolan_movies[:3]]
print(first_three_movies2)

['The Dark Knight', 'Inception', 'Interstellar']

## 3.3 Copying a list

In [50]:
# Copy the entire list

nolan_movies_copy = nolan_movies[:]
print(nolan_movies)
print(nolan_movies_copy)

['The Dark Knight', 'Inception', 'Interstellar', 'The Prestige', 'Memento']
['The Dark Knight', 'Inception', 'Interstellar', 'The Prestige', 'Memento']

In [52]:
# Copying without slicing operation lead to both variable names refering to the same list 

nolan_movies_copy1 = nolan_movies
print(nolan_movies_copy1)

nolan_movies.append("Following") # adding a new movie to the original list
print(nolan_movies_copy1) # the new copy (made without slicing operation) 

print(nolan_movies_copy) # the previous copy (made with slicing operation)

['The Dark Knight', 'Inception', 'Interstellar', 'The Prestige', 'Memento', 'Following']
['The Dark Knight', 'Inception', 'Interstellar', 'The Prestige', 'Memento', 'Following', 'Following']
['The Dark Knight', 'Inception', 'Interstellar', 'The Prestige', 'Memento']

# 4. Tuples

## 4.1 Defining a tuple

In [53]:
# Tuples are lists that are immutable (doesnt change)

first_nolan_movie_year = ("Following", 1998)
print(first_nolan_movie_year)

('Following', 1998)

In [54]:
# Another way to write tuples is without parenthesis

second_nolan_movie_year = "Memento", 2000
print(second_nolan_movie_year)

('Memento', 2000)

In [56]:
# Error while trying to modify items in a tuple

# Remove the triple quotes and run the cell to identify the error
'''
first_nolan_movie_year[0] = "The Dark Knight"
'''

'\nfirst_nolan_movie_year[0] = "The Dark Knight"\n'

## 4.2 Looping through a tuple

In [57]:
# Loop through a tuple and print its items

first_two_nolan_movies = ("Following", "The Dark Knight")

for movie in first_two_nolan_movies:
    print(movie)

Following
The Dark Knight

## 4.3 Writing over a tuple

In [58]:
# Write over the entire tuple by redefining it with same variable name

first_two_nolan_movies = ("gniwolloF", "thginK kraD ehT")
print(first_two_nolan_movies)

('gniwolloF', 'thginK kraD ehT')